<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elab.elabsignup">

    <!-- TODO:目前已知BUG,即使声明申请权限了,以OPPO为例的手机会默认禁用改权限,需要手动到设置界面中打开 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/elab_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/elab_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElabSignup">
        <activity
            android:name=".LogViewActivity"
            android:exported="false" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZEVihPaLLRM6bzmgE1EAbY1brmztkZzG" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--
            感谢https://blog.csdn.net/qq_38525105/article/details/103288266 😅
            问题：搭建百度地图时，没有地方报错，build后弹出对话框显示：Invalid process name remote in package com.example.lbstest: must have at least one ‘.’ separator。
            描述：对话框中有INSTALL_PARSE_FAILED_MANIFEST_MALFORMED字段，可以把错误定位到Manifest.xml文件中。
            解决：在service中，原来的代码android:process=“remote"错误，改正为android:process=”:remote"即可
        -->
        <activity
            android:name=".IndexActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>